html,
body {
  /* position: fixed; */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-color: rgb(181, 79, 111);
  font-family: 'ABCMonumentGrotesk-Regular-Trial', sans-serif;
}

#root {
  overflow: auto;
  min-height: 100vh;
}

@font-face {
  font-family: 'ABCMonumentGrotesk';
  src: url('../public/fonts/ABCMonumentGrotesk-Regular-Trial.woff') format('woff');
}
