html, body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'ABCMonumentGrotesk', sans-serif;

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera to avoid overflow in Matter JS canvas */
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

p, h1 {
  margin: 0;
  font-family: 'ABCMonumentGrotesk', sans-serif;
}

a {
  /* color: #8a0146; */
  color: #660134;
}

#root {
  overflow: auto;
  min-height: 100vh;
}

@font-face {
  font-family: 'ABCMonumentGrotesk';
  src: url('/fonts/ABCMonumentGrotesk-Regular-Trial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABCMonumentGrotesk';
  src: url('/fonts/ABCMonumentGrotesk-HeavyItalic-Trial.woff') format('woff');
  font-weight: bold;  /* or numerical value like 700 */
  font-style: italic;
}

/* CUSTOM BULLET POINT */
.custom-bullet {
  list-style: none;
  padding-left: 20px;
}

.custom-bullet li::before {
  content: '';
  display: inline-block;
  margin-right: 10px; /* Space between bullet and text */
  height: 5px;
  width: 5px;
  background-color: #fad9e4;
  border-radius: 50%;
  margin-left: -20px;
  vertical-align: middle;
}

/* CURSOR WHEN NOT HOVERING ANYTHING*/
.cursor-circle {
  width: 36px;
  height: 36px;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
  /* background: #EB5729; */
  background: #73003A;
  opacity: 0.8;
  z-index: 1000;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

/* CURSOR WHEN HOVERING LEICA M6*/
.hover-leica-m6 {
  height: 120px;
  width: 120px;
  font-family: 'ABCMonumentGrotesk-Regular-Trial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  animation: rotateText 14s linear infinite;
  opacity: 1;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Keyframes animation */
@keyframes rotateText {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hover-leica-m6-inner-text {
  position: absolute;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* Animation */
  transition: opacity 0.3s ease; /* Add delay equal to the cursor transition duration */
}

.hover-leica-m6-inner-text span {
  position: absolute;
  width: 120px;
  height: 120px;
  text-align: center;
  transform-origin: center; /* Set the origin to the center */
}

/* This will create 20 span elements for each character, adjust as needed */
@for $i from 0 through 19 {
  .hover-leica-m6-inner-text span:nth-child(#{$i + 1}) {
    transform: rotate(calc(18deg * #{$i})) translate(0, -60px);
  }
}

/* For whichever project logo is inside the cursor */
.cursor-logo {
  position: absolute;
  width: auto;
  height: 30px;
  object-fit: contain;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 1;
  animation: keepLogoPositioned 14s linear infinite;
}

@keyframes keepLogoPositioned {
  /* Set to rotate in the opposite direction as the hover-leica-m6 cursor*/
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

/* INFO ICON WITH GITHUB LINK */
.info-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  background: #73003A;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 3s infinite alternate;
  aspect-ratio: 1 / 1;

  /* Keeps icon in place on hover */
  position: relative;
  top: 0;
}

.info-icon img {
  width: 15px;
  height: 15px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  } 50% {
    transform: scale(1.5);
  } 100% {
    transform: scale(1);
  }
}

.info-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fccada;
  margin-left: 50px;
}

/* Text Container */
.info-icon-container span {
  font-size: 15px;
  text-align: right;
  width: 350px; /* Size of (span) text box */
  margin-right: 120px; /* Space between icon and text */

  /* Keeps icon in place on hover */
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%); /* Centering vertically - translate along the Y axis by 50% of its own height */
}

.info-icon-container a {
  color: #fccada;
}
